body {
  background: rgb(155,102,190);
  background: linear-gradient(90deg, rgba(155,102,190,1) 0%, rgba(121,170,228,1) 0%, rgba(215,123,127,1) 0%, rgb(153, 208, 188) 0%, rgba(171,211,201,1) 42%, rgba(200,215,211,1) 100%);
 margin-top: 0px;
 margin-left: 0;
 margin-right: 0;
 margin-bottom: 0;
}
.header{
width: 100%;
height: 60px;
background-color:rgb(44, 43, 42);
margin-bottom: 30px;
padding-top: 15px;
}
.header-wrapper{
  padding-right: 30px;
}
.header-menu{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.logo{
  padding-bottom: 10px; 
  transition: 1s;
}
.logo:hover{
  transform: scale(1.1);
}
.header-menu-link{
  text-decoration: none;
  color:white;
  font-size:30px;
}
.header-menu-link:hover{
  color:yellow;
}
.header-li{
  list-style-type: none;
}
.map{
  width: 74%;
  margin: auto;
}
.map path{
  fill: rgb(233, 221, 60);
  stroke: #000;
  stroke-width:1px;
  transition: fill 0.3s;
}
.map :hover{
  fill: rgb(224, 187, 22);
}
.constructor{
  width: 100%;
  height: 300px;
  background-color: rgb(34, 35, 36);
  color: white;
}
.textbox{
  margin-right: 20px;
}
.div_textbox{
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.constructor_text{
  font-size: 50px;
  font-weight:bold;
  padding-top: 10px;
  text-transform: uppercase;
  background: linear-gradient(45deg,  rgb(153, 208, 188) 0%, rgba(171,211,201,1) 42%, rgba(200,215,211,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  display: table;
  margin: auto;
  margin-bottom: 10px;
 
}
  .button{
    background-color: green;
    margin-left: 90%;
    height: 50px;
    width: 100px;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
  }
  .about_us{
    width: 100%;
    height: 300px;
    background-color: rgb(27, 26, 26);
  }
  .contacts{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left: 50px;
    margin-bottom: 10px;
    
  }
  
